body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}
